# GEMINI_API_KEY: Required for Gemini AI API calls.
# AI Studio automatically injects this at runtime from user secrets.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# Frontend Environment Variables
VITE_FIREBASE_APIKEY="AIzaSyC6oWs3sHco-uyQmNo7Ml4cCAo7R1pmpjo"
VITE_RAZORPAY_KEY_ID="rzp_test_TKZJWzdjxdyqb7"
VITE_BACKEND_URL="http://localhost:8000"

# Gateway Environment Variables
PORT=8000
REDIS_URL="redis://localhost:6379"
AUTH_SERVICE_URL="http://localhost:8001"
RESUME_SERVICE_URL="http://localhost:8002"
INTERVIEW_SERVICE_URL="http://localhost:8003"
ROADMAP_SERVICE_URL="http://localhost:8004"
BILLING_SERVICE_URL="http://localhost:8005"
FRONTEND_URL="http://localhost:5173"

# Auth Service Environment Variables
AUTH_PORT=8001
MONGODB_URL="mongodb+srv://<username>:<password>@cluster0.8hc13yc.mongodb.net/auth?appName=Cluster0"

# Billing Service Environment Variables
BILLING_PORT=8005
MONGODB_BILLING_URL="mongodb+srv://<username>:<password>@cluster0.8hc13yc.mongodb.net/billing?appName=Cluster0"
RAZORPAY_KEY_ID="rzp_test_TKZJWzdjxdyqb7"
RAZORPAY_KEY_SECRET="MY_RAZORPAY_KEY_SECRET"

# Interview Service Environment Variables
INTERVIEW_PORT=8003
MONGODB_INTERVIEW_URL="mongodb+srv://<username>:<password>@cluster0.8hc13yc.mongodb.net/interviewStart?appName=Cluster0"
GROQ_API_KEY="MY_GROQ_API_KEY"
GOOGLE_API_KEY="MY_GEMINI_API_KEY"

# Resume Service Environment Variables
RESUME_PORT=8002
MONGODB_RESUME_URL="mongodb+srv://<username>:<password>@cluster0.8hc13yc.mongodb.net/Resume?appName=Cluster0"
GROQ_API_KEY="MY_GROQ_API_KEY"
GOOGLE_API_KEY="MY_GEMINI_API_KEY"

# Roadmap Service Environment Variables
ROADMAP_PORT=8004
MONGODB_ROADMAP_URL="mongodb+srv://<username>:<password>@cluster0.8hc13yc.mongodb.net/Roadmaps?appName=Cluster0"
GROQ_API_KEY="MY_GROQ_API_KEY"
YOUTUBE_API_KEY="AIzaSyBOSNGJRT184etPvOrCAMa7lR22dMSVjQg"
GOOGLE_API_KEY="MY_GEMINI_API_KEY"

