PORT=8005
MONGODB_URL="mongodb+srv://<username>:<password>@cluster0.8hc13yc.mongodb.net/billing?appName=Cluster0"
REDIS_URL="redis://localhost:6379"
RAZORPAY_KEY_ID="rzp_test_TKZJWzdjxdyqb7"
RAZORPAY_KEY_SECRET="MY_RAZORPAY_KEY_SECRET"
