PORT=8004
MONGODB_URL="mongodb+srv://<username>:<password>@cluster0.8hc13yc.mongodb.net/Roadmaps?appName=Cluster0"
REDIS_URL="redis://localhost:6379"
GROQ_API_KEY="MY_GROQ_API_KEY"
YOUTUBE_API_KEY="AIzaSyBOSNGJRT184etPvOrCAMa7lR22dMSVjQg"
GOOGLE_API_KEY="MY_GEMINI_API_KEY"
