PORT=8003
MONGODB_URL="mongodb+srv://<username>:<password>@cluster0.8hc13yc.mongodb.net/interviewStart?appName=Cluster0"
REDIS_URL="redis://localhost:6379"
GROQ_API_KEY="MY_GROQ_API_KEY"
GOOGLE_API_KEY="MY_GEMINI_API_KEY"
